html, body {
    font-family: 'Nanum Gothic', sans-serif;
    background-color: white;
    color: darkgrey;
    margin: 0;
}
#name {
    font-size: 4em;
    padding: 20px;
}

#home-main {
    padding-left: 2em;
    text-align: left;
}

nav {
    display: flex;
    justify-content: space-between;
}
aside a {
    color: darkgrey;
    text-decoration: underline;
}
aside a:hover {
    color: #CAE7DF;
}
.container {
    width: 70%;
    height: 20vh;
    align-items: left;
    color: darkgrey;
    background-color: white;
    margin-top: 7vh;
   
}
.container a {
    color: darkgrey;
    text-decoration: underline;
}
.container a:hover {
    color: #CAE7DF;
}
#div2 {
    margin-top: 20vh;
    width: 70%;
    color: grey;
   

}
#div2 a {
    color: darkgrey;
    text-decoration: underline;
}
#div2 a:hover {
    color: #CAE7DF;
}

#banner {
    padding: 40px;
    background-color: #CAE7DF;
    text-align: center;
    list-style-type: none;
    font-size: 1em;
    color: white;
    text-decoration: none;
}

nav a {
    margin-left: 3vw;
    margin-right: 3vw;
    font-size: 2em;
    line-height: 5rem;
    vertical-align: middle;
    list-style-type: none;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 2.5em;

}
ul {
    list-style-position: inside;
}
a {
    text-decoration: none;
    color: white; 
}

h1 {
    text-align: center;
}

aside {
    background-color: white;
    float: right;
    height: 50vh;
    align-content: center;
    padding: 30px;
    width: 30%;
}
#totheright {
    text-align: center;
}

  p {
      text-align: center;
  }
/*
About
*/
.mystory {
    width: auto;
    height: auto;
    align-items: left;
    color: darkgrey;
    background-color: white;
    margin-top: 7vh;
    padding-left: 30px;
}

#placeholder {
    float: right;
    clear: left;
    height: 70vh;
    padding-right: 10px;
}

#strength {
    text-align: center;
}

#passion {
    padding-left: 105px;

}
#journey {
    text-align: center;
}
/* 
Contact
*/

#contact-form {
    width: 100%;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 1em;
}
#contact-heading {
    font-size: 2em;
}

#information {
    color: blue;
}