html, body {
    font-family: 'Nanum Gothic', sans-serif;
    background-color: white;
    color: darkgrey;
    margin: 0;
}

.link::first-letter {
    color: rgb(161, 206, 224);
    font-size: 2em;
}
#name {
    font-size: 4em;
    padding: 20px;
}
section a:visited {
    color: grey;
}
#home-main h2 {
    text-decoration: underline;
}
#respic {
    margin-left: 2em;
}


#aboutme {
    margin-top: 15vh;
    position: relative;
}
nav {
    display: flex;
    justify-content: space-between;
    opacity: 50%;
    transition: opacity .5s ease-out;
}
nav:hover {
    opacity: 100%;
}
nav a:hover {
    color: darkgrey;
    text-decoration: underline;
}
/** home body **/

.link a {
    color: white;
    text-decoration: underline;
}
.link a:hover {
    color: grey;
}

#contactpic {
    margin-top: 5vh;
    width: 28em;
    height: 25vh;
    margin-right: 6em;
}


#myworkpic {
    margin-bottom: 2em;
}

.pic {
    margin-top: 1em;
    width: 40em;
    height: 34vh;
    
}

.teaser {
    width: 50%;
    height: 60vh;
    padding: 2em;
    margin: 3em;
    border: 2px solid darkgrey;
    background-color: #CAE7DF;
    color: white;
}

#work {
    height: 53vh;
}
#teaser1 {
    margin-top: none;
    padding-bottom: 1em;
    margin-left: 2.5em;
    height: 70vh;
    
}

#teaser2 {
    height: 53vh;
}

#banner {
    padding: 40px;
    background-color: #CAE7DF;
    text-align: center;
    list-style-type: none;
    font-size: 1em;
    color: white;
    text-decoration: none;
    border-bottom: 2px solid darkgrey;;
}

nav a {
    margin-left: 3vw;
    margin-right: 3vw;
    font-size: 2em;
    line-height: 5rem;
    vertical-align: middle;
    list-style-type: none;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 2.5em;

}
ul {
    list-style-position: inside;
}
a {
    text-decoration: none;
    color: white; 
}

h1 {
    text-align: center;
}

aside {
    background-color: #CAE7DF;
    float: right;
    height: 50vh;
    align-content: center;
    padding: 30px;
    width: 30%;
    margin: 3em;
    border: 2px solid darkgrey;
    color: white;
}
#totheright {
    text-align: center;
    
}

  p {
      text-align: center;
  }
/*
About
*/
#about {
    border: 2px solid darkgrey;
    width: 57%;
    margin-right: 5em;
    margin-left: 0;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding-right: .5em;
    background-color:#CAE7DF;
    margin-left: 1em;
}

.mystory {
    width: auto;
    height: auto;
    align-items: left;
    color: white;
    background-color:#CAE7DF;;
    margin-top: 3vh;
    
    margin-left: 1em;
}

#placeholder {
    float: right;
    clear: left;
    height: 60vh;
    margin-right: 3em;
    margin-top: vh;
}

.aboutheaders {
    font-size: 2.5em;
}


#strength {
    text-align: center;
    background-color: #CAE7DF;
    border: 2px solid darkgrey;
    color: white;
    height: 20vh;
    width: 57%;
    left: 0;
    padding-right: 10px;
    margin-left: 1em;
    margin-bottom: 5em;
    position: relative;
    font-size: 1.1em;
    padding-bottom: 2.8em;
}
#strength ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding-right: 25px;
    font-size: 1.6em;
}
#passion {
    padding-left: 10em;
}
#journey {
    text-align: center;

}
/* 
Contact
*/
#information:hover {
    color: white;
}
#contactme {
    background-color: #CAE7DF;
    color: white;
    border: 2px solid darkgrey;
    margin-top: 8vh;
    margin-left: 15em;
    margin-right: 15em;
}
#journey::first-line {
    font-size: 1.4em;
  }

#contactme:hover {
    transform: rotate(.01turn);

}

.contactbox {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 10em;
    font-size: 1em;
    left: 45%;
    top: 50%;

}

#contact-heading {
    font-size: 2em;
}

#information {
    color: blue;
    text-decoration: underline;
}

.form input {
    border: 2px solid darkgrey;
    background-color: #CAE7DF;
    margin-top: 3em;
    color: white;
    size: 5em;
}
label {
    font-size: 1.5em;
    height: 3em;
}
.fieldbox {
    height: 40px;
    width: 250px;
    padding: 5px;
    color: white;
}
#submit {
    padding: 1em;
    font-size: 1.5em;
}


/** MY WORK **/
#introduction {
    background-color: #CAE7DF;
    color: white;
    border: 2px solid darkgrey;
    margin-top: 2em; 
    margin-right: 20em;
    margin-left: 23em;
    margin-bottom: 2em;
    opacity: 70%;
    transition: opacity .5s ease-out;
}
#introduction:hover {
    background: #CAE7DF;
    opacity: 100%;
}
.photos {
    height: 50vh;
    width: 50em;
    margin-bottom: 2vh;
    margin-left: 20em;
    border: 3px solid darkgrey;
}
#vertical {
    padding-left: 35em;
    margin-bottom: 2vh;
    
}

/** Resume **/
.resumesec {
    background: #CAE7DF;
    color: white;
    margin: 5em;
    border: 3px solid darkgrey;
    padding-bottom: 2em;
}
.page-heading {
    font-size: 3em;
}

#hireme:hover {
    text-decoration: underline;
    color: darkgrey;
}




/** FOOTER **/
footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8vh;
    background-color: #CAE7DF;
    border-top: 2px solid darkgrey;
}

footer p {
    padding-top: 1vh;
    margin-left: 5em;
}
