.smooth {
    width: 100%;
    height: 100%;
    /* CSS Smooth Scroll */
    overflow-y:scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    }
section {
    scroll-snap-align: center;
}
#home {
    background-image: url("../images/playful-kitten-6683.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    background-attachment: fixed;
    position: relative;
    scroll-snap-align: center;
    min-width: 100%;
    min-height: 100vh;
    margin-top: 0;
    margin-left: 0;
    overflow: hidden;
}
#about {
    background: url('../images/kitten-flying.jpg'); 
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    position: static;
    background-size: cover;

  }
body {
    font-family: 'Montserrat';
    width: 100%;
    height: 100vh;
    font-weight: 500;
    overflow: hidden;
}
#orange-header {
    display: flex;
    justify-content: flex-start;
    font-size: 4em;
    
}
.big-orange {
    color: orange;
    text-shadow: 2px 2px black;
    margin-left: 10px;
    margin-right: 10px;
}

.onlyon {
    font-size: 1.6em;
    position: relative;
    margin-left: 1em;
    margin-top: 6vh;
    
}
.netflixpic {
    position: absolute;
    top: 16%;
    left: 9%;
    margin-left: 1.6em;
    transition: transform .6s ease-in-out;
    height: 5vh;
    width: 6.5em;
}

.netflixpic:hover{
    cursor: url('../images/pawprint.png'), default;
    transform: rotateY(360deg);
   
}
nav {
    bottom: 0;
    right: 0;
    position: fixed;
    font-size: 2.5em;
    margin: 2vh;
    display: flex;
    justify-content: space-between;
    margin-right: 1em;
}
nav button {
    font-family: 'Montserrat';
    font-size: 1em;
    text-decoration: none;
    color: orange;
    padding: 10px;
    position: relative;
    border: none;
    background-color: none;
    background: none;
    cursor: pointer;
    margin-left: 1.5em;
    padding: 0;
    font-weight: 500;
}
nav a {
    font-family: 'Montserrat';
    font-size: 1em;
    text-decoration: none;
    color: orange;
    padding: 10px;
    position: relative;
    border: none;
    background-color: none;
    background: none;
    cursor: pointer;
    margin-left: 1.5em;
    padding: 0;
    font-weight: 500;
}


/* Contact */
#callus {
    position: absolute;
    left: 40%;
    top: 43%;
    background-color: black;
    opacity: .7;
    color: orange;
    text-decoration: underline;
    padding: 2em;
    border: 3px solid orange;
    border-radius: 1em;
    border-collapse: separate;
    border-spacing: 0px;
    
}

#callus {
    animation-name: cssAnimation1;
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
    transition: 3s;
    margin-left: 10%;
    transform: rotate(720deg);
}
 @keyframes cssAnimation1 {
    from {
      -webkit-transform: rotate(0deg) scale(0) skew(0deg) translate(0px);
    }
    to {
      -webkit-transform: rotate(0deg) scale(2) skew(0deg) translate(100px);
    }
  }

#callus i {
    color: white;
}
#exitcontact {
    left: 90%;
    bottom: 85%;
}

/* Schedule */
table {
    color: orange;
    width: 60%;
    background-color: black;
    opacity: .7;
    padding: 1em;
    top: 40%;
    left: 25%;
    position: absolute;
    font-size: 1.5em;
    font-weight: 500;
    border: 3px solid orange;
    border-radius: 1em;
    border-collapse: separate;
    border-spacing: 0px;
    height: 15vh;
}
tr {
    margin: 2em;
}
td {
    margin: 3em;
}
.leave {
    background-image: url(../images/close.png);
    background-size: cover;
    border-radius: 2em;
    background-repeat: no-repeat;
    background-color: none;
    padding: 0;
    position: absolute;
    z-index: 2;
    height: 3em;
    width: 3em;
    background-color: none;
    background-repeat: no-repeat;
}
#exit {
    padding: 0;
    position: absolute;
    top: 39%;
    left: 83.5%;
    z-index: 2;
    height: 3em;
    width: 3em;
    background-color: none;
    background-repeat: no-repeat;
}

/* nav bounce */
#navbar button:hover {
    animation-name: bounce;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-iteration-count: 2;
    transform-origin: bottom;
    cursor: url('../images/pawprint.png'), default;
}

button:hover {
    cursor: url('../images/pawprint.png'), default;
}

@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-50px); }

}
/* About **/
#aboutsillycat {
    background-image: url('../images/kitten-flying.jpg');
    font-family: 'Montserrat';
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
   
}
#kittendesc {
    position: sticky;
    left: 35%;
    top: 40%;
    width: 100%;
    height: 100vh;
    margin-left: 25em;
    margin-top: 23vh;
}
#kittendesc h1 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 2em;
    text-shadow: 1px .5px  white;


}
#navbar a:hover {
    animation-name: bounce;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-iteration-count: 2;
    transform-origin: bottom;
    cursor: url('../images/pawprint.png'), default;
}

a:hover {
    cursor: url('../images/pawprint.png'), default;
}

@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-50px); }

}